/*
 * Copyright (c) 2018-2019, NVIDIA CORPORATION.  All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

#include <dt-bindings/media/camera.h>
#include <dt-bindings/platform/t210/t210.h>

#if VC_MIPI_LANES == 1
    #define BUS_WIDTH 1
    #define NUM_LANES "1" 
    #define NUM_CSI_LANES 2
#endif
#if VC_MIPI_LANES == 2
    #define BUS_WIDTH 2
    #define NUM_LANES "2" 
    #define NUM_CSI_LANES 4
#endif
#if VC_MIPI_LANES == 4
    #define BUS_WIDTH 4
    #define NUM_LANES "4" 
    #define NUM_CSI_LANES 8
#endif
 
/ {
    host1x {
        vc_mipi_vi_base: vi {
            num-channels = <2>;
            #address-cells = <1>;
            #size-cells = <0>;
            ports {
                #address-cells = <1>;
                #size-cells = <0>;
                vc_mipi_vi_port0: port@0 {
                    reg = <0>;
                    vc_mipi_vi_in0: endpoint {
                        port-index = <0>;
                        bus-width = <BUS_WIDTH>;
                        remote-endpoint = <&vc_mipi_csi_out0>;
                    };
                };
            };
        };
 
        vc_mipi_csi_base: nvcsi {
            num-channels = <1>;
            #address-cells = <1>;
            #size-cells = <0>;
            vc_mipi_csi_chan0: channel@0 {
                reg = <0>;
                ports {
                    #address-cells = <1>;
                    #size-cells = <0>;
                    vc_mipi_csi_chan0_port0: port@0 {
                        reg = <0>;
                        vc_mipi_csi_in0: endpoint@0 {
                            port-index = <0>;
                            bus-width = <BUS_WIDTH>;
                            remote-endpoint = <&vc_mipi_out0>;
                        };
                    };
                    vc_mipi_csi_chan0_port1: port@1 {
                        reg = <1>;
                        vc_mipi_csi_out0: endpoint@1 {
                            remote-endpoint = <&vc_mipi_vi_in0>;
                        };
                    };
                };
            };
        };

        vc_mipi_i2c_0: i2c@546c0000 {
            vc_mipi_cam0: vc_mipi@1a {                
                reg                     = <0x1a>;
                devnode                 = "video0";
                use_sensor_mode_id      = "false";
                num_lanes               = NUM_LANES;
 
                mode0 { 
                    tegra_sinterface         = "serial_a";
                    mclk_khz                 = "24000";
                    mclk_multiplier          = "9.33";
                    pix_clk_hz               = "800000000";
                    num_lanes                = NUM_LANES;
                    phy_mode                 = "DPHY";
                    discontinuous_clk        = "no";
                    dpcm_enable              = "false";
                    cil_settletime           = "0";

                    inherent_gain            = "1";
                    min_hdr_ratio            = "1";
                    max_hdr_ratio            = "1";
                    readout_orientation      = "0";

                    embedded_metadata_height = "0";    
                };

                ports {
                    #address-cells = <1>;
                    #size-cells = <0>;

                    port@0 {
                        reg = <0>;
                        vc_mipi_out0: endpoint {
                            port-index = <0>;
                            bus-width = <BUS_WIDTH>;
                            remote-endpoint = <&vc_mipi_csi_in0>;
                        };
                    };
                };
            };
        };
    };

    lens_vc_mipi@RBPCV2 {
        min_focus_distance  = "0.0";
        hyper_focal         = "0.0";
        focal_length        = "1.0";
        f_number            = "2.0";
        aperture            = "0.0";
    };
};

/ {
    vc_mipi_tcp: tegra-camera-platform {
        compatible = "nvidia, tegra-camera-platform";

        num_csi_lanes = <NUM_CSI_LANES>;
        max_lane_speed = <1500000>;
        min_bits_per_pixel = <10>;
        vi_peak_byte_per_pixel = <2>;
        vi_bw_margin_pct = <25>;
        max_pixel_rate = <160000>;
        isp_peak_byte_per_pixel = <5>;
        isp_bw_margin_pct = <25>;

        /**
         * The general guideline for naming badge_info contains 3 parts, and is as follows,
         * The first part is the camera_board_id for the module; if the module is in a FFD
         * platform, then use the platform name for this part.
         * The second part contains the position of the module, ex. "rear" or "front".
         * The third part contains the last 6 characters of a part number which is found
         * in the module's specsheet from the vendor.
         */
        modules {
            vc_mipi_cam_module0: module0 {
                badge = "porg_front_RBPCV2";
                position = "front";
                orientation = "1";
                vc_mipi_cam_module0_drivernode0: drivernode0 {
                    pcl_id = "v4l2_sensor";
                    devname = "vc-mipi 6-001a";
                    proc-device-tree = "/proc/device-tree/host1x/i2c@546c0000/vc_mipi@1a";
                };
                vc_mipi_cam_module0_drivernode1: drivernode1 {
                    pcl_id = "v4l2_lens";
                    proc-device-tree = "/proc/device-tree/lens_vc_mipi@RBPCV2/";
                };
            };
        };
    };
};

#define CAM1_PWDN       TEGRA_GPIO(S, 7)
#define CAM2_PWDN       TEGRA_GPIO(T, 0)
#define CAM_TRIGGER     TEGRA_GPIO(V, 0)

/ {
    host1x {
        i2c@546c0000 {
            status = "okay";
                vc_mipi@1a {
                status = "okay";
                reset-gpios = <&gpio CAM2_PWDN GPIO_ACTIVE_HIGH>;
            };
        };
    };
 
    gpio@6000d000 {
        camera-trigger-high {
            status = "okay";
            gpio-hog;
            output-high;
            gpios = <CAM_TRIGGER 0>;
            label = "cam-trigger";
        };
 
        camera-control-output-low {
            gpio-hog;
            output-low;
            gpios = < CAM1_PWDN 0  CAM2_PWDN 0>;
            label = "cam1-pwdn", "cam2-pwdn";
        };
    };
};